body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page.about {
    text-align: center;
    padding: 0 35%;
}

.about img {
    width: 200px;
    padding-bottom: 100px;
}

.about h1 {
    padding: 20px;
}