@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans&display=swap');

.nav {
    font-family: 'IBM Plex Mono', Times, sans-serif;
    color: #DB490B !important;
}

.nav img {
    margin: 0 20px;
    color: red;
    filter: invert(29%) sepia(46%) saturate(4075%) hue-rotate(8deg) brightness(95%) contrast(91%);
}

