@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=IBM+Plex+Sans&display=swap');

/* FIXME - font sizes currently in em, might switch to px if it sucks */

body {
    font-family: 'IBM Plex Sans', Helvetica, monospace;
    text-align: center;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Mono', Times, sans-serif;
    padding: 30px 20px 10px 20px;
    font-size: 2em;
    color: #DB490B;
}

p {
    padding: 10px 10px 20px 10px;
}

.start img {
    height: 400px;
    width: 500px;
    padding: 50px 0 10px 0;
}

.select img {
    max-width: 60%;
    margin: 20px 40px;
}

.title {
    font-size: 3em;
}

.button {
    border-radius: 0 !important;
}

/* upload part */

h1 {
    padding: 40px;
}

.title {
    padding-bottom: 10px;
}

.upload {
    padding: 0 25%;
}

.drop,
.preview img {
    padding-bottom: 40px;
}

.preview img {
    max-width: 600px;
}

/* FIXME - gross */
h4 {
    padding-top: 0px;
}

.loader {
    display: flex;
    justify-content: center;
    padding: 40px 40px 60px 40px;
}

/* selection */

/* animation */
.load {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DB490B;
    animation: load 5s infinite;
}

@keyframes load {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(-100px);
    }
}